[submodule "bundle/vim-indent-guides"]
	path = bundle/vim-indent-guides
	url = git://github.com/nathanaelkane/vim-indent-guides.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "bundle/snipmate.vim"]
	path = bundle/snipmate.vim
	url = git://github.com/msanders/snipmate.vim.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = git://github.com/scrooloose/syntastic.git
[submodule "bundle/neocomplcache"]
	path = bundle/neocomplcache
	url = git://github.com/Shougo/neocomplcache.git
[submodule "bundle/gundo"]
	path = bundle/gundo
	url = https://github.com/vim-scripts/Gundo
[submodule "bundle/vimerl"]
	path = bundle/vimerl
	url = https://github.com/jimenezrick/vimerl.git
[submodule "bundle/erlang-tags"]
	path = bundle/erlang-tags
	url = https://github.com/hcs42/vim-erlang-tags.git
[submodule "bundle/ctrlp"]
	path = bundle/ctrlp
	url = git@github.com:kien/ctrlp.vim.git
[submodule "bundle/YouCompleteMe"]
	path = bundle/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe
[submodule "bundle/vim-dispatch"]
	path = bundle/vim-dispatch
	url = https://github.com/tpope/vim-dispatch
[submodule "bundle/vim-dialyzer"]
	path = bundle/vim-dialyzer
	url = https://github.com/fishcakez/vim-dialyzer
[submodule "bundle/vim-sensible"]
	path = bundle/vim-sensible
	url = git@github.com:tpope/vim-sensible.git
[submodule "bundle/calendar"]
	path = bundle/calendar
	url = git@github.com:itchyny/calendar.vim.git
[submodule "bundle/rainbow_parentheses"]
	path = bundle/rainbow_parentheses
	url = https://github.com/kien/rainbow_parentheses.vim.git
[submodule "bundle/vim-clojure-static"]
	path = bundle/vim-clojure-static
	url = https://github.com/guns/vim-clojure-static.git
[submodule "bundle/vim-fireplace"]
	path = bundle/vim-fireplace
	url = https://github.com/tpope/vim-fireplace.git
